#title {
    font-size:36px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    font-family: "Outfit", "Sans-Serif";
}
 .main, #title {
    width: 300px;
    height:50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    border-radius:10px;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 49%, 0.38);

}

.pic {
    width: 200px;
    height:200px; 
    margin-left:100px; 
    border-radius:10px;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 49%, 0.38);
}
#s-pic {
    width: 205px;
    height:150px;
    margin-left:90px;
}

body {
    background-color: lightblue;
}
.home {
    font-size: 30px;
    font-family: "Outfit", "Sans-Serif"; 
    display: inline; 
    color:purple; 
    border: 15px; 
    border-radius:10px; 
    margin:30px; 
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 49%, 0.38);
}
#cupcakes {
    text-align: center;
    background-color: white;
    padding:20px;
    border-radius:10px;
    display: block; 
    width:300px;
    height:50px;
}
#pasta {
    text-align: center;
    background-color: white;
    margin-right:600px; 
    padding:20px;
    border-radius:10px;
    display: block;
    width:300px;
    height:50px;
}
#steak {
    text-align: center;
    background-color: white;
    margin-right:600px; 
    padding:20px;
    border-radius:10px;
    display: block;
    width:300px;
    height:50px;
}
.credit {
    font-family: "Outfit";
    text-align: center;
    background-color: white;
    margin-right:auto; 
    margin-bottom: auto;
    border-radius:10px;
    display: block;
    width:300px;
    height:20px;
}